<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List App - Admin</title>
    <link rel="stylesheet" href="stylesheets\style.css">
    <link rel="stylesheet" href="stylesheets\admin.css">

</head>
<body>
    <header>
        <h1>TodoList - Admin site</h1>
    </header>
    <main>
        <%- body %> 
    </main>
    <footer>
        Created with love by Francisco Romero
    </footer>
    
</body>
</html>